#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}
div.container{
  margin: 0 20rem;
  position: absolute;
  top: 2rem;
}
div.btnBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
div.btnBox button {
  border-bottom: 3px solid #c9c9c9;
  border-radius: 0;
  height: 3rem;
  background-color: transparent;
  outline: none;
}