div.taskInfo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
div.taskInfo p{
    margin: 0.2rem 0;
    width: 20rem;
    text-align: left;
    word-wrap: break-word;
}
div.taskInfo span{
    font-size: 0.8rem;
    padding: 0.2rem 0.2rem;
}
div.taskInfo span:hover{
    background-color: rgb(73, 73, 255);
    color: aliceblue;
}